.nav-link{
    color: aliceblue;
}

.navbar-nav .nav-link.active{
    color: rgba(240, 248, 255, 0.608);   
}

.navbar-brand img{
    width: 40px;
}

.navbar-toggler{
    background-color: rgba(240, 248, 255, 0.608);
}

